body {
    font-family: Arial, sans-serif;
    background-color: #E6FFCC; /* verde claro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #336600; /* verde escuro */
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #336600; /* verde escuro */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
